openapi: 3.1.0
info:
  title: Stackure API
  version: 1.0.0
  description: |
    Official OpenAPI specification for the Stackure platform REST endpoints.
    
    The API is split into a small unauthenticated surface for onboarding and session establishment under `/api/public`
    and a comprehensive authenticated surface under `/api/internal` for account, user, access control, app,
    team, partner, and activity management.
    
    ## Getting Started
    
    1. **Onboarding**: Submit a partner signup request via `/api/public/signup`
    2. **Authenticate**: Use magic-link authentication at `/api/public/auth/magic-link/send`
    3. **Manage Resources**: Access authenticated endpoints under `/api/internal`
    
    All authenticated requests require a valid session token obtained through magic-link authentication.
  contact:
    name: Stackure API Support
    email: api@stackure.com
  license:
    name: Proprietary
    url: https://stackure.com/terms
servers:
  - url: https://stackure.com
    description: Production
  - url: https://stage.stackure.com
    description: Staging
  - url: http://localhost:{port}
    description: Local development
    variables:
      port:
        default: "8080"
tags:
  # Authentication & Onboarding
  - name: Authentication
    description: |
      Magic-link authentication flows for passwordless sign-in. Includes session management and token validation.
  - name: Onboarding
    description: |
      Partner and account signup workflows. Submit new signup requests and manage pending approvals.
  
  # Core Resources
  - name: Users
    description: |
      User management operations. Create, retrieve, update, and deactivate user accounts. Query user memberships, app access, and assigned roles.
  - name: Teams
    description: |
      Team organization and membership. Create teams, manage members, assign apps, and control team-level access.
  - name: Apps
    description: |
      Customer application registry. Register your own applications with Stackure, configure their settings, and control which users, teams, and partners can access each app.
  - name: Partners
    description: |
      Partner account management. View partner details, manage app sharing, close partnerships, and track managing teams.
  
  # Access Control
  - name: Roles
    description: |
      Role definitions and assignments. Create custom roles, manage role permissions, and assign roles to users.
  - name: Permissions
    description: |
      Platform permissions that roles are composed of. List the permissions available to compose into custom roles.
  
  # Account & Monitoring
  - name: Account
    description: |
      Account-level operations. View account details, limits, quotas, and list all apps within your account.
  - name: Activity
    description: |
      Audit logs and activity tracking. Query historical actions across users, teams, apps, and partners for compliance and debugging.

x-tagGroups:
  - name: Authentication & Onboarding
    tags:
      - Authentication
      - Onboarding
  - name: Core Resources
    tags:
      - Users
      - Teams
      - Apps
      - Partners
  - name: Access Control
    tags:
      - Roles
      - Permissions
  - name: Account & Monitoring
    tags:
      - Account
      - Activity

paths:
  /api/public/signup:
    post:
      tags: [Onboarding]
      summary: Submit a partner/account signup request
      operationId: submitSignup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRequest'
      responses:
        '200':
          description: Signup accepted for review
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        default:
          $ref: '#/components/responses/InternalError'
  /api/public/auth/magic-link/send:
    post:
      tags: [Authentication]
      summary: Initiate magic-link authentication
      operationId: requestMagicLink
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MagicLinkSendRequest'
      responses:
        '200':
          description: Magic-link request processed. The message indicates whether an email will be sent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MagicLinkSendResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        default:
          $ref: '#/components/responses/InternalError'
  /api/public/auth/magic-link/verify:
    post:
      tags: [Authentication]
      summary: Exchange a magic-link token for a session token
      operationId: verifyMagicLink
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MagicLinkVerifyRequest'
      responses:
        '200':
          description: Sign-in token verified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MagicLinkVerifyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        default:
          $ref: '#/components/responses/InternalError'
  /api/public/auth/session/validate:
    get:
      tags: [Authentication]
      summary: Validate the current session for SDK integrations
      operationId: validateSession
      parameters:
        - name: app_id
          in: query
          required: true
          description: Stackure application identifier to validate access for
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Session validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionValidationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        default:
          $ref: '#/components/responses/InternalError'
  /api/public/directory:
    get:
      tags: [Authentication]
      summary: List the users and teams in the caller's org who can open the app
      description: |
        For app pickers and sharing. Authenticated like session validation: the user's session token as the
        session cookie or `Authorization: Bearer`, plus the app secret. MCP credentials are not accepted.
        Stackure defines no in-app permissions; the app decides what users and teams may do.
      operationId: listDirectory
      parameters:
        - name: app_id
          in: query
          required: true
          description: Stackure application identifier
          schema:
            type: string
            format: uuid
        - name: X-App-Secret
          in: header
          required: true
          description: The app secret
          schema:
            type: string
      responses:
        '200':
          description: Users and teams in the caller's org who can open the app
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SDKDirectoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          description: '`invalid session` when there is no valid session, `invalid app secret` for a wrong or missing secret'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limited; retry after `Retry-After` seconds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        default:
          $ref: '#/components/responses/InternalError'
  /api/public/auth/sign-out:
    post:
      tags: [Authentication]
      summary: Sign out the authenticated user
      operationId: signOut
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Signed out successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/users:
    get:
      tags: [Users]
      summary: List account users visible to the caller
      operationId: listUsers
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Users returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserWithAccess'
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Users]
      summary: Invite users to the account
      operationId: inviteUsers
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/InviteUserRequest'
      responses:
        '201':
          description: All invites created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteUsersResponse'
        '207':
          description: Mixed outcome – some invites accepted, some rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteUsersResponse'
        '409':
          description: All referenced users already exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteUsersResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/user:
    get:
      tags: [Users]
      summary: Get detailed information for a user
      operationId: getUser
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: User detail returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    put:
      tags: [Users]
      summary: Update mutable fields for a user
      operationId: updateUser
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Users]
      summary: Delete a user from the account
      operationId: deleteUser
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: User deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/user/apps:
    get:
      tags: [Users]
      summary: List apps a user can access
      operationId: getUserApps
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: User apps returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAppsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/user/teams:
    get:
      tags: [Users]
      summary: List teams a user belongs to
      operationId: getUserTeams
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: User teams returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTeamsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/user/access:
    get:
      tags: [Users]
      summary: Retrieve a user's role to permission mapping
      operationId: getUserAccess
      security:
        - bearerAuth: []
      parameters:
        - name: user_id
          in: query
          required: false
          description: User identifier; defaults to the current user when omitted
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User access profile returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/user/roles:
    post:
      tags: [Roles]
      summary: Grant roles to a user
      operationId: grantRolesToUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRoleAssignmentRequest'
      responses:
        '200':
          description: Roles granted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/roles:
    get:
      tags: [Roles]
      summary: List available roles
      operationId: listRoles
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Available roles returned
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/role:
    get:
      tags: [Roles]
      summary: Get details for a role
      operationId: getRole
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoleKey'
      responses:
        '200':
          description: Role detail returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomRole'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Roles]
      summary: Create a custom role
      operationId: createRole
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomRoleCreateRequest'
      responses:
        '200':
          description: Role created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    put:
      tags: [Roles]
      summary: Update a custom role
      operationId: updateRole
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomRoleUpdateRequest'
      responses:
        '200':
          description: Role updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Roles]
      summary: Delete a custom role
      operationId: deleteRole
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoleKey'
      responses:
        '200':
          description: Role deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/permissions:
    get:
      tags: [Permissions]
      summary: List available permissions
      operationId: listPermissions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Permissions returned
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/role/permissions:
    get:
      tags: [Roles]
      summary: List permissions bound to a role
      operationId: getRolePermissions
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoleKey'
      responses:
        '200':
          description: Permissions returned
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Roles]
      summary: Add permissions to a role
      operationId: addPermissionsToRole
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RolePermissionsRequest'
      responses:
        '200':
          description: Permissions added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Roles]
      summary: Remove permissions from a role
      operationId: removePermissionsFromRole
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoleKey'
        - $ref: '#/components/parameters/PermissionKeys'
      responses:
        '200':
          description: Permissions removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/role/users:
    get:
      tags: [Roles]
      summary: List users bound to a role
      operationId: getUsersWithRole
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/RoleKey'
      responses:
        '200':
          description: Users returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/teams:
    get:
      tags: [Teams]
      summary: List teams visible to the caller
      operationId: listTeams
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Teams returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/team:
    get:
      tags: [Teams]
      summary: Get team details
      operationId: getTeam
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          description: Team detail returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Teams]
      summary: Create a team
      operationId: createTeam
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamCreateRequest'
      responses:
        '200':
          description: Team created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    put:
      tags: [Teams]
      summary: Update a team
      operationId: updateTeam
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamUpdateRequest'
      responses:
        '200':
          description: Team updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Teams]
      summary: Delete a team
      operationId: deleteTeam
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          description: Team deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/team/members:
    get:
      tags: [Teams]
      summary: List team members and metadata
      operationId: getTeamMembers
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          description: Team members returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Teams]
      summary: Add members to a team
      operationId: addTeamMembers
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTeamMembersRequest'
      responses:
        '200':
          description: Bulk assignment outcome
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddTeamMembersResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/team/member:
    delete:
      tags: [Teams]
      summary: Remove a user from a team
      operationId: removeTeamMember
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TeamId'
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Team member removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/team/apps:
    get:
      tags: [Teams]
      summary: List apps shared with a team
      operationId: getTeamApps
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          description: Team apps returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamAppsResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/team/partners:
    get:
      tags: [Teams]
      summary: List partner accounts managed by a team
      operationId: getTeamManagedPartners
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          description: Managed partners returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/team/partner:
    post:
      tags: [Teams]
      summary: Assign a partner account to a team
      operationId: assignPartnerToTeam
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamPartnerAssignmentRequest'
      responses:
        '200':
          description: Partner assigned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Teams]
      summary: Unassign a partner account from a team
      operationId: unassignPartnerFromTeam
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TeamId'
        - $ref: '#/components/parameters/PartnerAccountId'
      responses:
        '200':
          description: Partner unassigned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/apps:
    get:
      tags: [Apps]
      summary: List apps accessible to the caller
      operationId: listApps
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Apps returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/apps/unassigned:
    get:
      tags: [Apps]
      summary: List apps that are not currently shared (not yet implemented)
      operationId: listUnassignedApps
      security:
        - bearerAuth: []
      responses:
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/internal/app:
    get:
      tags: [Apps]
      summary: Get detailed metadata for an app
      operationId: getApp
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AppId'
      responses:
        '200':
          description: App detail returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    post:
      tags: [Apps]
      summary: Register a new app under the account
      operationId: createApp
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppCreateRequest'
      responses:
        '200':
          description: App created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    put:
      tags: [Apps]
      summary: Update an existing app
      operationId: updateApp
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AppId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppUpdateRequest'
      responses:
        '200':
          description: App updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Apps]
      summary: Delete an app
      operationId: deleteApp
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AppId'
      responses:
        '200':
          description: App deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/app/teams:
    get:
      tags: [Apps]
      summary: List teams an app is shared with
      operationId: getAppTeams
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AppId'
      responses:
        '200':
          description: App teams returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppTeamsResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/app/users:
    get:
      tags: [Apps]
      summary: List users who can access an app
      operationId: getAppUsers
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AppId'
      responses:
        '200':
          description: App users returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppUsersResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/app/partners:
    get:
      tags: [Apps]
      summary: List partner accounts an app is shared with
      operationId: getAppPartners
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AppId'
      responses:
        '200':
          description: App partner assignments returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPartnersResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/app/account:
    post:
      tags: [Apps]
      summary: Share an app with an account
      operationId: shareAppWithAccount
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppAccountShareRequest'
      responses:
        '200':
          description: App shared with account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Apps]
      summary: Remove an app share from an account
      operationId: unshareAppFromAccount
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AppId'
        - name: account_id
          in: query
          required: false
          description: Target account; defaults to caller's account when omitted
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: App unshared from account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/app/team:
    post:
      tags: [Apps]
      summary: Share an app with a team
      operationId: shareAppWithTeam
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppTeamShareRequest'
      responses:
        '200':
          description: App shared with team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Apps]
      summary: Remove an app share from a team
      operationId: unshareAppFromTeam
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/TeamId'
      responses:
        '200':
          description: App unshared from team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/app/partner:
    post:
      tags: [Apps]
      summary: Share an app with a partner account
      operationId: shareAppWithPartner
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AppId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPartnerShareRequest'
      responses:
        '200':
          description: App shared with partner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    delete:
      tags: [Apps]
      summary: Remove an app share from a partner account
      operationId: unshareAppFromPartner
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AppId'
        - $ref: '#/components/parameters/PartnerAccountId'
      responses:
        '200':
          description: App unshared from partner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/partners:
    get:
      tags: [Partners]
      summary: List active partner accounts
      operationId: listPartners
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Partners returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PartnerSummary'
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/partners/closed:
    get:
      tags: [Partners]
      summary: List closed partner accounts
      operationId: listClosedPartners
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Closed partners returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClosedPartnerSummary'
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/partner:
    get:
      tags: [Partners]
      summary: Get details for a partner account
      operationId: getPartner
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PartnerId'
      responses:
        '200':
          description: Partner detail returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/partner/close:
    post:
      tags: [Partners]
      summary: Close a partner account
      operationId: closePartner
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PartnerId'
      responses:
        '200':
          description: Partner closed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/partner/apps:
    get:
      tags: [Partners]
      summary: List apps available to a partner account
      operationId: getPartnerApps
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PartnerId'
      responses:
        '200':
          description: Partner apps returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerAppsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/partner/limits:
    get:
      tags: [Partners]
      summary: Retrieve limit usage for a partner account
      operationId: getPartnerLimits
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PartnerId'
      responses:
        '200':
          description: Partner limits returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/partner/teams:
    get:
      tags: [Partners]
      summary: List internal teams managing a partner account
      operationId: getPartnerTeams
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PartnerAccountId'
      responses:
        '200':
          description: Managing teams returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/signups:
    get:
      tags: [Onboarding]
      summary: List pending signups
      operationId: listSignups
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Signups returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SignupSummary'
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/signups/pending:
    get:
      tags: [Onboarding]
      summary: Placeholder endpoint for filtered pending signups (not implemented)
      operationId: listPendingSignups
      security:
        - bearerAuth: []
      responses:
        '501':
          description: Not implemented
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /api/internal/signup/approve:
    post:
      tags: [Onboarding]
      summary: Approve a signup request
      operationId: approveSignup
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupApproveRequest'
      responses:
        '200':
          description: Signup approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignupApproveResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          description: Sub-account quota exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/signup/reject:
    post:
      tags: [Onboarding]
      summary: Reject a signup request
      operationId: rejectSignup
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRejectRequest'
      responses:
        '204':
          description: Signup rejected
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/account:
    get:
      tags: [Account]
      summary: Get the caller's account profile
      operationId: getAccount
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Account profile returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetail'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/account/apps:
    get:
      tags: [Account]
      summary: List apps shared with the caller's account
      operationId: listAccountApps
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Account apps returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AppSummary'
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/account/owner:
    put:
      tags: [Account]
      summary: Transfer account ownership to another user
      operationId: transferOwnership
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferOwnershipRequest'
      responses:
        '200':
          description: Ownership transferred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/limits:
    get:
      tags: [Account]
      summary: Retrieve usage versus plan limits for the caller's account
      operationId: getAccountLimits
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Limit usage returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LimitsResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
  /api/internal/activity:
    get:
      tags: [Activity]
      summary: Query usage events for the caller's account
      operationId: listActivity
      security:
        - bearerAuth: []
      parameters:
        - name: search
          in: query
          required: false
          description: Case-insensitive search string; keywords map to activity types
          schema:
            type: string
      responses:
        '200':
          description: Activity entries returned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ActivityEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    UserId:
      name: user_id
      in: query
      required: true
      description: User identifier
      schema:
        type: string
        format: uuid
    TeamId:
      name: team_id
      in: query
      required: true
      description: Team identifier
      schema:
        type: string
        format: uuid
    AppId:
      name: app_id
      in: query
      required: true
      description: App identifier
      schema:
        type: string
        format: uuid
    RoleKey:
      name: role_key
      in: query
      required: true
      description: Role key
      schema:
        type: string
    PermissionKeys:
      name: permission_keys
      in: query
      required: true
      description: Permission keys to remove; repeat the parameter to supply multiple values
      schema:
        type: array
        items:
          type: string
      style: form
      explode: true
    PartnerId:
      name: partner_id
      in: query
      required: true
      description: Partner account identifier
      schema:
        type: string
        format: uuid
    PartnerAccountId:
      name: partner_account_id
      in: query
      required: true
      description: Partner account identifier
      schema:
        type: string
        format: uuid
  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication required or failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Conflict with existing state
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnsupportedMediaType:
      description: Unsupported content type
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
      required: [error]
    OperationResult:
      type: object
      properties:
        message:
          type: string
        signup_id:
          type: string
          format: uuid
        app_id:
          type: string
          format: uuid
        account_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        team_id:
          type: string
          format: uuid
      additionalProperties: false
    SignupRequest:
      type: object
      required:
        - account_name
        - account_country
        - account_type
        - account_plan
        - user_first_name
        - user_last_name
        - user_email
        - user_position
      properties:
        signup_id:
          type: string
          format: uuid
        parent_id:
          type: string
          format: uuid
        account_name:
          type: string
        account_country:
          type: string
        account_level:
          type: string
        account_type:
          type: string
        account_plan:
          type: string
        user_first_name:
          type: string
        user_last_name:
          type: string
        user_email:
          type: string
          format: email
        user_position:
          type: string
        account_settings:
          type: object
          additionalProperties: true
    MagicLinkSendRequest:
      type: object
      properties:
        user_email:
          type: string
          format: email
        app_id:
          type: string
          format: uuid
        redirect_url:
          type: string
          format: uri
      required: [user_email]
    MagicLinkSendResponse:
      type: object
      properties:
        message:
          type: string
        token:
          type: string
          description: Returned only in local environments for testing
      additionalProperties: false
    MagicLinkVerifyRequest:
      type: object
      properties:
        token:
          type: string
      required: [token]
    MagicLinkVerifyResponse:
      type: object
      properties:
        session_token:
          type: string
      required: [session_token]
    SessionValidationResponse:
      type: object
      properties:
        authenticated:
          type: boolean
        sign_in_url:
          type: string
          format: uri
        user:
          $ref: '#/components/schemas/SDKUser'
      required: [authenticated]
    SDKUser:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        account_id:
          type: string
          format: uuid
        user_email:
          type: string
          format: email
        user_first_name:
          type: string
        user_last_name:
          type: string
        user_is_app_admin:
          type: boolean
          description: The user is an app admin or owner in their Stackure org, in charge of its apps. The app decides what this means.
        user_teams:
          type: array
          description: The Stackure teams the user belongs to in their org; empty when none
          items:
            $ref: '#/components/schemas/SDKTeam'
      required: [user_id, account_id, user_email, user_first_name, user_last_name, user_is_app_admin, user_teams]
    SDKTeam:
      type: object
      properties:
        team_id:
          type: string
          format: uuid
        team_name:
          type: string
      required: [team_id, team_name]
    SDKDirectoryUser:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        user_email:
          type: string
          format: email
        user_first_name:
          type: string
        user_last_name:
          type: string
      required: [user_id, user_email, user_first_name, user_last_name]
    SDKDirectoryResponse:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/SDKDirectoryUser'
        teams:
          type: array
          items:
            $ref: '#/components/schemas/SDKTeam'
      required: [users, teams]
    InviteUserRequest:
      type: object
      required:
        - user_first_name
        - user_last_name
        - user_email
        - user_position
      properties:
        user_first_name:
          type: string
        user_last_name:
          type: string
        user_email:
          type: string
          format: email
        user_position:
          type: string
        user_settings:
          type: object
          additionalProperties: true
    InviteUserResult:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        user_email:
          type: string
          format: email
        status:
          type: string
      required: [user_email, status]
    InviteUsersResponse:
      type: object
      properties:
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/InviteUserResult'
      required: [message]
    UserWithAccess:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        user_first_name:
          type: string
        user_last_name:
          type: string
        user_email:
          type: string
          format: email
        user_position:
          type: string
        has_access:
          type: boolean
      required:
        - user_id
        - user_first_name
        - user_last_name
        - user_email
        - user_position
        - has_access
    User:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        account_id:
          type: string
          format: uuid
        user_first_name:
          type: string
        user_last_name:
          type: string
        user_position:
          type: string
        user_email:
          type: string
          format: email
        user_settings:
          type: object
          additionalProperties: true
        user_status:
          type: string
        user_created:
          type: string
          format: date-time
        user_updated:
          type: string
          format: date-time
        user_created_by:
          type: string
          format: uuid
      required:
        - user_id
        - user_first_name
        - user_last_name
        - user_email
    UserDetail:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        creator:
          $ref: '#/components/schemas/User'
        user_is_account_owner:
          type: boolean
        user_app_count:
          type: integer
        user_team_count:
          type: integer
        user_role_count:
          type: integer
      required:
        - user
        - user_is_account_owner
        - user_app_count
        - user_team_count
        - user_role_count
    UserUpdateRequest:
      type: object
      properties:
        user_first_name:
          type: string
        user_last_name:
          type: string
        user_email:
          type: string
          format: email
        user_position:
          type: string
        user_settings:
          type: object
          additionalProperties: true
      additionalProperties: false
    UserAppsResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        apps:
          type: array
          items:
            $ref: '#/components/schemas/AppSummary'
      required: [user, apps]
    UserTeamsResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        teams:
          type: array
          items:
            $ref: '#/components/schemas/Team'
      required: [user, teams]
    UserAccessResponse:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        user_first_name:
          type: string
        user_last_name:
          type: string
        role_actions:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
      required: [user_id, user_first_name, user_last_name, role_actions]
    UserRoleAssignmentRequest:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        user_email:
          type: string
          format: email
        roles:
          type: array
          items:
            type: string
      required: [roles]
    CustomRole:
      type: object
      properties:
        role_key:
          type: string
        role_name:
          type: string
        role_description:
          type: string
        role_type:
          type: string
        account_id:
          type: string
          format: uuid
      required: [role_key, role_name]
    CustomRoleCreateRequest:
      type: object
      properties:
        role_key:
          type: string
        role_name:
          type: string
        role_description:
          type: string
      required: [role_key, role_name]
    CustomRoleUpdateRequest:
      type: object
      properties:
        role_key:
          type: string
        role_name:
          type: string
        role_description:
          type: string
      required: [role_key]
    RolePermissionsRequest:
      type: object
      properties:
        role_key:
          type: string
        permission_keys:
          type: array
          items:
            type: string
      required: [role_key, permission_keys]
    Team:
      type: object
      properties:
        team_id:
          type: string
          format: uuid
        account_id:
          type: string
          format: uuid
        team_name:
          type: string
        team_settings:
          type: object
          additionalProperties: true
        team_created:
          type: string
          format: date-time
        team_updated:
          type: string
          format: date-time
        team_created_by:
          type: string
          format: uuid
        team_leader_id:
          type: string
          format: uuid
      required:
        - team_id
        - team_name
    TeamDetail:
      type: object
      properties:
        team_id:
          type: string
          format: uuid
        account_id:
          type: string
          format: uuid
        team_name:
          type: string
        team_settings:
          type: object
          additionalProperties: true
        team_created:
          type: string
          format: date-time
        team_updated:
          type: string
          format: date-time
        team_created_by:
          type: string
          format: uuid
        team_leader_id:
          type: string
          format: uuid
        team_leader_first_name:
          type: string
        team_leader_last_name:
          type: string
        team_member_count:
          type: integer
        team_app_count:
          type: integer
        team_leader_is_you:
          type: boolean
        user_can_add_users_to_this_team:
          type: boolean
        team_members:
          type: array
          items:
            $ref: '#/components/schemas/TeamMember'
      required:
        - team_id
        - account_id
        - team_name
        - team_member_count
        - team_app_count
        - team_leader_is_you
        - user_can_add_users_to_this_team
        - team_members
    TeamMember:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        account_id:
          type: string
          format: uuid
        user_first_name:
          type: string
        user_last_name:
          type: string
        user_email:
          type: string
          format: email
        user_position:
          type: string
        user_settings:
          type: object
          additionalProperties: true
        user_status:
          type: string
        user_created:
          type: string
          format: date-time
        user_updated:
          type: string
          format: date-time
        user_created_by:
          type: string
          format: uuid
        user_is_team_leader:
          type: boolean
        assigned_at:
          type: string
          format: date-time
        user_can_remove_this_user_from_this_team:
          type: boolean
      required:
        - user_id
        - user_first_name
        - user_last_name
        - user_email
        - user_is_team_leader
        - user_can_remove_this_user_from_this_team
    TeamCreateRequest:
      type: object
      properties:
        team_name:
          type: string
        team_leader_id:
          type: string
          format: uuid
        team_settings:
          type: object
          additionalProperties: true
      required: [team_name, team_leader_id]
    TeamUpdateRequest:
      type: object
      properties:
        team_id:
          type: string
          format: uuid
        team_name:
          type: string
        team_leader_id:
          type: string
          format: uuid
        team_settings:
          type: object
          additionalProperties: true
      required: [team_id]
    AddTeamMembersRequest:
      type: object
      properties:
        team_id:
          type: string
          format: uuid
        member_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Array of user UUIDs to add as team members
      required: [team_id, member_ids]
    TeamMemberResult:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        status:
          type: string
      required: [status]
    TeamAppsResponse:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/Team'
        apps:
          type: array
          items:
            $ref: '#/components/schemas/AppSummary'
      required: [team, apps]
    AddTeamMembersResponse:
      type: object
      properties:
        message:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/TeamMemberResult'
      required: [message]
    TeamPartnerAssignmentRequest:
      type: object
      properties:
        team_id:
          type: string
          format: uuid
        partner_account_id:
          type: string
          format: uuid
      required: [team_id, partner_account_id]
    AppSummary:
      type: object
      properties:
        app_id:
          type: string
          format: uuid
        account_id:
          type: string
          format: uuid
        managing_team_id:
          type: string
          format: uuid
        app_name:
          type: string
        app_url:
          type: string
          format: uri
        app_logo:
          type: string
          format: uri
        app_logo_type:
          type: string
        app_created:
          type: string
          format: date-time
        app_updated:
          type: string
          format: date-time
        app_created_by:
          type: string
          format: uuid
      required:
        - app_id
        - app_name
        - app_url
        - app_logo
    AppDetailResponse:
      type: object
      properties:
        app:
          $ref: '#/components/schemas/AppDetail'
      required: [app]
    AppDetail:
      allOf:
        - $ref: '#/components/schemas/AppSummary'
        - type: object
          properties:
            creator_id:
              type: string
              format: uuid
            creator_first_name:
              type: string
            creator_last_name:
              type: string
            creator_is_you:
              type: boolean
            app_users_count:
              type: integer
            app_teams_count:
              type: integer
            app_partners_count:
              type: integer
            user_can_view_this_app:
              type: boolean
            user_can_edit_this_app:
              type: boolean
            user_can_delete_this_app:
              type: boolean
            user_can_share_this_app:
              type: boolean
            user_can_unshare_this_app:
              type: boolean
            user_can_view_this_app_users:
              type: boolean
            user_can_view_this_app_teams:
              type: boolean
            user_can_view_this_app_partners:
              type: boolean
            is_shared_with_user_account:
              type: boolean
          required:
            - creator_is_you
            - user_can_view_this_app
            - user_can_edit_this_app
            - user_can_delete_this_app
            - user_can_share_this_app
            - user_can_unshare_this_app
            - user_can_view_this_app_users
            - user_can_view_this_app_teams
            - user_can_view_this_app_partners
            - is_shared_with_user_account
    AppCreateRequest:
      type: object
      properties:
        app_name:
          type: string
        app_url:
          type: string
          format: uri
        app_logo:
          type: string
          format: uri
        app_logo_type:
          type: string
      required: [app_name, app_url, app_logo, app_logo_type]
    AppUpdateRequest:
      type: object
      properties:
        app_name:
          type: string
        app_url:
          type: string
          format: uri
        app_logo:
          type: string
          format: uri
        app_logo_type:
          type: string
    AppUsersResponse:
      type: object
      properties:
        app:
          $ref: '#/components/schemas/AppSummary'
        users:
          type: array
          items:
            $ref: '#/components/schemas/AppUser'
      required: [app, users]
    AppUser:
      type: object
      properties:
        user_id:
          type: string
          format: uuid
        user_first_name:
          type: string
        user_last_name:
          type: string
        user_email:
          type: string
          format: email
        user_position:
          type: string
        access_view_this_user:
          type: boolean
      required:
        - user_id
        - user_first_name
        - user_last_name
        - user_email
        - user_position
        - access_view_this_user
    AppTeamsResponse:
      type: object
      properties:
        app:
          $ref: '#/components/schemas/AppSummary'
        teams:
          type: array
          items:
            $ref: '#/components/schemas/AppTeam'
      required: [app, teams]
    AppTeam:
      type: object
      properties:
        team_id:
          type: string
          format: uuid
        team_name:
          type: string
        access_view_this_team:
          type: boolean
        access_stop_sharing_app_with_this_team:
          type: boolean
      required:
        - team_id
        - team_name
        - access_view_this_team
        - access_stop_sharing_app_with_this_team
    AppPartnersResponse:
      type: object
      properties:
        app:
          $ref: '#/components/schemas/AppSummary'
        partners:
          type: array
          items:
            $ref: '#/components/schemas/AppPartner'
      required: [app, partners]
    AppPartner:
      type: object
      properties:
        account_id:
          type: string
          format: uuid
        account_name:
          type: string
        access_stop_sharing_app_with_this_partner:
          type: boolean
      required:
        - account_id
        - account_name
        - access_stop_sharing_app_with_this_partner
    AppAccountShareRequest:
      type: object
      properties:
        app_id:
          type: string
          format: uuid
        account_id:
          type: string
          format: uuid
      required: [app_id]
    AppTeamShareRequest:
      type: object
      properties:
        app_id:
          type: string
          format: uuid
        team_id:
          type: string
          format: uuid
      required: [app_id, team_id]
    AppPartnerShareRequest:
      type: object
      properties:
        partner_id:
          type: string
          format: uuid
          description: Partner account UUID to share the app with
      required: [partner_id]
    PartnerSummary:
      type: object
      properties:
        account_id:
          type: string
          format: uuid
        account_name:
          type: string
      required: [account_id, account_name]
    ClosedPartnerSummary:
      type: object
      properties:
        account_id:
          type: string
          format: uuid
        account_name:
          type: string
      required: [account_id, account_name]
    PartnerAppsResponse:
      type: object
      properties:
        partner_name:
          type: string
        apps:
          type: array
          items:
            $ref: '#/components/schemas/AppSummary'
      required: [partner_name, apps]
    Account:
      type: object
      properties:
        account_id:
          type: string
          format: uuid
        parent_id:
          type: string
          format: uuid
        account_name:
          type: string
        account_country:
          type: string
        account_level:
          type: string
        account_type:
          type: string
        account_plan:
          type: string
        account_settings:
          type: object
          additionalProperties: true
        account_created:
          type: string
          format: date-time
        account_updated:
          type: string
          format: date-time
        account_expiry:
          type: string
          format: date-time
      required:
        - account_id
        - account_name
    AccountDetail:
      allOf:
        - $ref: '#/components/schemas/Account'
        - type: object
          properties:
            owner_id:
              type: string
              format: uuid
            owner_first_name:
              type: string
            owner_last_name:
              type: string
            owner_position:
              type: string
            owner_email:
              type: string
              format: email
            total_teams:
              type: integer
            total_users:
              type: integer
            total_owned_apps:
              type: integer
            total_available_apps:
              type: integer
          required:
            - total_teams
            - total_users
            - total_owned_apps
            - total_available_apps
    LimitsResponse:
      type: object
      properties:
        account_id:
          type: string
          format: uuid
        account_name:
          type: string
        account_plan:
          type: string
        limits:
          type: object
          properties:
            users:
              $ref: '#/components/schemas/LimitBreakdown'
            teams:
              $ref: '#/components/schemas/LimitBreakdown'
            apps:
              $ref: '#/components/schemas/LimitBreakdown'
            partners:
              $ref: '#/components/schemas/LimitBreakdown'
          required: [users, teams, apps, partners]
      required: [account_id, account_name, account_plan, limits]
    LimitBreakdown:
      type: object
      properties:
        current:
          type: integer
        max:
          type: integer
        remaining:
          type: integer
      required: [current, max, remaining]
    ActivityEntry:
      type: object
      properties:
        event_type:
          type: string
        actor_first_name:
          type: string
        actor_last_name:
          type: string
        actor_email:
          type: string
          format: email
        time:
          type: string
          description: Human-readable local time (e.g. "3:04 PM")
        recency_bucket:
          type: string
        account_id:
          type: string
          format: uuid
        account_name:
          type: string
        signup_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        user_name:
          type: string
        team_id:
          type: string
          format: uuid
        team_name:
          type: string
        app_id:
          type: string
          format: uuid
        app_name:
          type: string
        cs_user_names:
          type: string
        cs_user_ids:
          type: string
        cs_roles:
          type: string
        search_text:
          type: string
      required:
        - event_type
        - actor_first_name
        - actor_last_name
    SignupSummary:
      type: object
      properties:
        signup_id:
          type: string
          format: uuid
        account_name:
          type: string
      required: [signup_id, account_name]
    SignupApproveRequest:
      type: object
      properties:
        signup_id:
          type: string
          format: uuid
      required: [signup_id]
    SignupApproveResponse:
      type: object
      properties:
        account_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
      required: [account_id, user_id]
    SignupRejectRequest:
      type: object
      properties:
        signup_id:
          type: string
          format: uuid
        reason:
          type: string
      required: [signup_id, reason]
    TransferOwnershipRequest:
      type: object
      properties:
        new_owner_user_id:
          type: string
          format: uuid
      required: [new_owner_user_id]
